<?xml version="1.0" encoding="utf-8" ?>
<imagevault.client>
  <authentication>
    <sdkIdentity key="johan" secret="epiadmin"/>
    <identityProvider address="https://imagevault.se/beta/ImageVaultIdp/mixed/username/issue.svc"/>
  </authentication>
  <imageVaultCore address="https://imagevault.se:1234/"/>
</imagevault.client>
